@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div id="container"></div>
    <input type="text" id="txtId" value="" /><input type="button" id="btn" value="Click" />

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/app.js"></script>
</body>
</html>
